<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ServletConfigAndContexts</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletConfigDemo</display-name>
    <servlet-name>ServletConfigDemo</servlet-name>
    <servlet-class>org.ServletConfigDemo</servlet-class>
    <init-param>
      <param-name>managerName</param-name>
      <param-value>abc</param-value>
    </init-param>
    <!-- <init-param>
      <param-name>managerEmail</param-name>
      <param-value>abc@gmail.com</param-value>
    </init-param> -->
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo</servlet-name>
    <url-pattern>/ServletConfigDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextDemo</display-name>
    <servlet-name>ServletContextDemo</servlet-name>
    <servlet-class>org.ServletContextDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo</servlet-name>
    <url-pattern>/ServletContextDemo</url-pattern>
  </servlet-mapping>




<context-param>
<param-name>managerEmail</param-name>
      <param-value>abc@gmail.com</param-value>
</context-param>
</web-app>